<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <connectionStrings>
    <add name="SignalR" connectionString="metadata=res://*/SignalR.csdl|res://*/SignalR.ssdl|res://*/SignalR.msl;provider=System.Data.SqlClient;provider connection string='data source=s12.winhost.com;initial catalog=DB_89250_signalrprod;persist security info=True;user id=DB_89250_signalrprod_user;password=Macross12;multipleactiveresultsets=True;authentication=&quot;Sql Password&quot;;application name=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>